# Byte-compiled files
__pycache__/

# Virtual environment
.venv/

# Data files
data/

# Logs
*.log

# VS Code settings
.vscode/

# VS Code dev container
.devcontainer/

# Python environment variables
.env
